div.item {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 100px;
    user-select: none;
    color: rgb(103, 103, 103);
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 2px;
}

div.inventorySlot {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    margin: 16px;
    z-index: 1;
}

div.item.dragging {
    transition: transform 0s;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
    pointer-events: none;
    touch-action: none;
}

div.inventorySlot.dragging {
    z-index: 4;
    touch-action: none;
}

div.item.hovered {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.inventorySlot.hovered {
    z-index: 3;
}

div.item.justMoved {
    transition: box-shadow 0.2s !important;
}

div.item.lastHovered {
    pointer-events: none;
}

div.inventorySlot.lastHovered {
    z-index: 2;
}